<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
    <title>Buscar Filmes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h2>Buscar Filmes</h2>
        <form action="/filmes" method="get">
            <table id="filmesTable">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Diretor</th>
                        <th>Ano</th>
                        <th>Gênero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for filme in filmes %}
                        <tr>
                            <td>{{ filme.title }}</td>
                            <td>{{ filme.director }}</td>
                            <td>{{ filme.year }}</td>
                            <td>{{ filme.gender }}</td>
                            <td><button class="editar">Editar</button></td>
                            <td><button class="excluir">Excluir</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
           
            <button><a href="http://127.0.0.1:8000/filmes/register">Registrar</a></button>
            
            
        </form>
    </div>

</body>
</html>
